/*!
 *  Gestos 0.1
 *  Multitouch gestures iconic font
 *  -------------------------------------------------------
 *
 *  License
 *  -------------------------------------------------------
 *  Please attribute: "Gestos. Albert Casado - https://github.com/albertcasado/gestos"
 *
 */

$fontGestos:   "../fonts" !default;
$borderColor:       #eee;
$iconMuted:         #eee;
@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; border-radius: $radius; }



@font-face {
  font-family: 'Gestos';
  src: url('#{$fontGestos}/Gestos-Regular.eot');
  src: local('☺'),
    //url('#{$fontGestos}/Gestos-Regular.eot') format("embedded-opentype"),
    //url('#{$fontGestos}/Gestos-Regular.woff') format("woff"),
    url('#{$fontGestos}/Gestos-Regular.ttf') format("truetype"),
    url('#{$fontGestos}/Gestos-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*  Styles
    ------------------------------------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: Gestos;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;

  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}


[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes sure icons active on rollover in links */
a {
  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
  }
}

.icon-muted {
  color: $iconMuted;
}


// Icon Sizes
// -------------------------

.icon-2x {
  font-size: 2em;
  &.icon-border {
    border-width: 2px;
    @include border-radius(4px);
  }
}
.icon-3x {
  font-size: 3em;
  &.icon-border {
    border-width: 3px;
    @include border-radius(5px);
  }
}
.icon-4x {
  font-size: 4em;
  &.icon-border {
    border-width: 4px;
    @include border-radius(6px);
  }
}


/*  Based on Font Awesome. It uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */

/* \f020 doesn't work in Safari. all shifted one down */

.icon-hold-wait:before                { content: "\f063"; }
.icon-hold:before                     { content: "\f068"; }
.icon-tap-hold:before                 { content: "\f069"; }
.icon-tap-hold-wait:before            { content: "\f06a"; }
.icon-hold-element:before             { content: "\f06b"; }
.icon-2finger-double-tap--hold:before { content: "\f06c"; }
.icon-2finger-tap--hold:before        { content: "\f06d"; }


